* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 1.7;
    font-weight: 200;
}


/* div css */

.box-1 {
    position: relative;
    background: #032f3e;
    color: #fff;
    padding: 20px 30px;
}

.box-1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    height: 50px;
    width: 50px;
    background: #fff;
    margin-left: -25px;
    transform: rotate(45deg);
    margin-top: -25px;
}

.box-2 {
    position: relative;
    background: #032f3e;
    color: #fff;
    padding: 20px 30px;
}

.box-2::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 10%;
    height: 50px;
    width: 50px;
    background: #fff;
    margin-left: -25px;
    transform: rotate(45deg);
    margin-top: -25px;
}